# Match kernel name of device, rather than ATTRS{idProduct} and ATTRS{idVendor}
# so we can access the range file and leds directory. Set rw access to these 
# files for everyone.
ACTION=="bind", SUBSYSTEM=="hid", DRIVER=="ftec_csl_elite", GOTO="fanatec_device"
GOTO="fanatec_end"

LABEL="fanatec_device"

# FANATEC CSL Elite Wheel Base
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0e03", GOTO="fanatec_setperms"
# FANATEC CSL Elite Wheel Base PS44
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0005", GOTO="fanatec_setperms"
# FANATEC ClubSport Wheel Base V2
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0001", GOTO="fanatec_setperms"
# FANATEC ClubSport Wheel Base V2.5
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0004", GOTO="fanatec_setperms"
# FANATEC Podium Wheel Base DD1
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0006", GOTO="fanatec_setperms"
# FANATEC Podium Wheel Base DD2
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0007", GOTO="fanatec_setperms"
# FANATEC CSL DD
ATTRS{idVendor}=="0eb7", ATTRS{idProduct}=="0020", GOTO="fanatec_setperms"
GOTO="fanatec_end"

LABEL="fanatec_setperms"
RUN+="/bin/sh -c 'cd %S%p; chmod 666 range display leds/*/brightness'"

LABEL="fanatec_end"
