list.list {
    border: 1px solid #ccc;
}
list.list > row {
    padding-left: 16px;
    padding-right: 16px;
}
levelbar block.filled {
    /*
     * Work around issue in some themes
     * See: https://github.com/berarma/oversteer/issues/15
     */
    min-width: 0px;
    min-height: 0px;
    /* End of workaround */
    background-color: #3584e4;
}
stacksidebar list row {
    padding-right: 40px;
}
.overlay-leds levelbar:nth-child(1) block.filled,
.overlay-leds levelbar:nth-child(2) block.filled {
    border-color: #00e000;
    background-color: #00e000;
}
.overlay-leds levelbar:nth-child(3) block.filled,
.overlay-leds levelbar:nth-child(4) block.filled {
    border-color: #e0e000;
    background-color: #e0e000;
}
.overlay-leds levelbar:nth-child(5) block.filled {
    border-color: #e00000;
    background-color: #e00000;
}
levelbar#steering-input-left trough {
    padding-right: 0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
levelbar#steering-input-left block.filled,
levelbar#steering-input-left block.empty {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right-width:0;
}
levelbar#steering-input-right trough {
    padding-left: 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
levelbar#steering-input-right block.filled,
levelbar#steering-input-right block.empty {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-width:0;
}
